/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Jan, 2023, 6:04:33 PM
    Author     : Bhanu Yadav
*/
.adduser
{
    background-color: yellow;
}
.table
{
    background-color: blueviolet;
    border: 2px;
}